<h1>Homepage</h1>
<h4>Logged in as:  <%= usernameDisplay %></h1>
<div class="Navigation bar">
  <a href="/myAccount">My Account</a>
  <a href="/listings">Listings</a>
</div>
<br>








<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>




