<h1>Listings</h1>
<h4>Logged in as: <%= usernameDisplay %></h4>

<div class="Navigation bar">
    <a href="/">Homepage</a>
    <a href="/listings/myListings">My Listings</a>
    <a href="/listings/create">Create new listing</a>
</div>