<h1>Create new listing</h1>
<h4>Logged in as: <%= usernameDisplay %></h4>

<div class="Navigation bar">
    <a href="/">Homepage</a>
    <a href="/listings">Listings</a>
</div>

<br>

<form action="/listings/create" method="POST" enctype="multipart/form-data">
    <div>
      <label for="productSummary">Short summary of listing</label>
      <input type="text" id="productSummary" name="productSummary" required>
    </div>
    <div>
      <label for="price">Asking price (Kr.)</label>
      <input type="price" id="price" name="price" required>
    </div>
    <div>
      <label for="category">Product category</label>
        <select type="category" id="category" name="category">
            <option value="Case">Case</option>
            <option value="CPU">CPU</option>
            <option value="CPUCooler">CPU Cooler</option>
            <option value="Display">Display/Monitor</option>
            <option value="GPU">GPU</option>
            <option value="Motherboard">Motherboard</option>
            <option value="Peripheral">Peripheral</option>
            <option value="PSU">PSU</option>
            <option value="RAM">RAM/Memory</option>
            <option value="Storage">Storage</option>
        </select>
    </div>
    <div>
      <label for="listingImage">Upload image of your listing</label>
      <input type="file" name="image">
    </div>
      <button type="submit" onclick="listingCreated()">Post listing</button>
  </form>

<script>
      function listingCreated() {
        alert('New listing created')
      }   
</script>

