<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <h1>Listings with category: Peripheral</h1>
    <h4>Logged in as: <%= usernameDisplay %></h4>
    
    <div class="Navigation bar">
        <a href="/">Homepage</a>
        <a href="/listings">Listings</a>
    </div>


	<script src="index.js"></script>
  </body>
</html>